:root {
  --main-color: #ffef76;
  --bg-color: #bfad7f;
  --seco-color: #ff6550;
  --font-color: #463b3f;
  --border-color: #ff6550;
  --hover-color:linear-gradient(to left,#ff6550, #bfad7f, #ff6550);
  --button-color:linear-gradient(to left,#bfad7f, #ffef76, #bfad7f);
  
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  color: var(--font-color);
  font-weight: 700;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Caveat", serif;
  margin: 0;
  padding: 0;
  
}

h1 {
  color: var(--font-color);
  font-family: "Caveat", serif;
  font-size:3em;
}


li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

/* Navbar */

nav{
  color: var(--font-color);
  background-color: var(--main-color);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 10px solid #ff6550;
}

nav img{
  width: 7rem;
  height: auto;
}

.links{
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  width: 5rem;
  font-family: "Caveat", cursive;
  height: 2rem;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  font-family: "Caveat", serif;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-image: var(--button-color); 
  background-size: 200%;
  color: white; 
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  text-transform: uppercase;
  border-bottom: #ff6550 solid 1px;
  border-right: #ff6550 solid 1px;
}

.nav-button:hover {
  background-position: right; 
  border-top:#ff6550 solid 1px;
  border-left:#ff6550 solid 1px;
  border-right: none;
  border-bottom: none;
}

nav .menu{
  display: none;
  top:2.75rem;
  right:1rem;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span{
  height: 0.4rem;
  width:100%;
  background-color: #ffffff;
  border-radius: 0.2rem;
}

.links a{
  color: var(--font-color);
  text-decoration: none;
  margin: 0 1rem;
}

/* Store */

.store-container{
  display: flex;
  flex-wrap: wrap;
}

.store-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.store-wrapper li{
  width: 18rem;
  height: auto;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--font-color);
  font-size: 1.2rem;
}

.store-wrapper li img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.shop-button{
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  bottom:2rem;
  right:4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-image: var(--button-color);
  background-size: 200%;
  color: var(--font-color);
  border: 2px solid var(--seco-color);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.6s;
}

.shop-button:hover{
  width: 2.5rem;
  height: 2.5rem;
  bottom:1.5rem;
  right:3.5rem;
  background-position: right;
}

/* About */

.about-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-wrapper{
  width: 50%;
  padding: 1rem;
  background-color: var(--main-color);
  border: 2px solid var(--border-color);
}

/*Add*/

.data-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
}

.data-wrapper label{
  margin: 1rem;
  color: var(--font-color);
}

.data-wrapper input{
  width: 10rem;
  padding: 0.5rem;
}

.data-wrapper textarea{
  width: 10rem;
  padding: 0.5rem;
  font-family: Arial, sans-serif;
}

.data-wrapper button{
  padding: 0.5rem;
  margin: 1rem;
  background-color: var(--main-color);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
}


/*Login*/

.login-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
  background-color: var(--main-color);
  border: 2px solid var(--border-color);
}

.form-control{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
}

.form-control label{
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--font-color);
}

.form-control input{
  width: 10rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.login-container button{
  padding: 0.5rem;
  margin: 1rem;
  width: 5rem;
  height: 2.4rem;
  background-image: var(--button-color);
  font-family: "caveat", serif;
  font-size: 1.5rem;
  background-size: 200%;
  color: var(--font-color);
  border: solid 3px var(---color);
  border-radius: 5px;
  cursor: pointer;
  border-bottom: var(--border-color) solid 1px;
  border-right: var(--border-color) solid 1px;
  transition: 0.6s;
}

.login-container button:hover{
  background-position: right;

  border-top: var(--border-color) solid 1px;
  border-left: var(--border-color) solid 1px;
  border-right: none;
  border-bottom: none;
}

/* Media Queries */

@media (max-width: 1250px){
  .store-wrapper{
    padding:3rem;
  }

  .store-wrapper li{
    margin: 1rem;
    width: 25%;
  }

  .shop-button{
    right: 3rem;
    bottom: 2rem;
  }
}

@media (max-width: 925px){
  .store-wrapper li{
    width: 40%;
  }

  .shop-button{
    right: 2rem;
    bottom: 1rem;
  }
}

@media (max-width: 795px){
  .store-wrapper li{
    width: 37%;
  }

  .shop-button{
    right: 1rem;
  }
}

@media (max-width: 670px){
  nav .menu{
    display: flex;
    cursor: pointer; 
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav .nav-button{
    margin: 0.25rem;
    width: 20rem;
  }

  nav .links{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    align-items: start;
  }

  nav .links.open{
    display: flex;
  }

  nav .menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  nav .menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 10px);
  }
  
  nav .menu.open span:nth-child(2) {
    opacity: 0;
  }
  
  nav .menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

@media (max-width: 645px){
  .store-wrapper li{
    width: 100%;
  }
}

@media (max-width: 550px){
  nav .links {
    width: 50%
  }

  .container{
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .shop-button{
    left: 50%;
    top: 3rem;
  }

  .store-wrapper li{
    width: 60%;
    margin: 0.5rem;
  }

  .store-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
  }
}

@media (max-width: 360px){
  nav .nav-button{
    width: 17rem;
  }
}