:root {
  --main-color: #ffef76;
  --bg-color: #bfad7f;
  --seco-color: #ff6550;
  --font-color: #463b3f;
  --border-color: #ff6550;
  --hover-color: linear-gradient(to left, #ff6550, #bfad7f, #ff6550);
  --button-color: linear-gradient(to left, #bfad7f, #ffef76, #bfad7f);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from input[type="number"] in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Caveat", serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4rem;
}

h1 {
  color: var(--font-color);
  font-family: "Caveat", serif;
  font-size: 3em;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Home */
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Navbar */

nav {
  color: var(--font-color);
  background-color: var(--main-color);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 10px solid #ff6550;
}

.logo{
  width: 7rem;
  height: auto;
}

nav a:focus {
  outline: none;
}

.logo:focus {
  outline: none;
}

.links {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  width: 5rem;
  font-family: "Caveat", cursive;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Caveat", serif;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-image: var(--button-color);
  background-size: 200%;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  text-transform: uppercase;
  border-bottom: #ff6550 solid 1px;
  border-right: #ff6550 solid 1px;
}

.nav-button:hover {
  background-position: right;
  border-top: #ff6550 solid 1px;
  border-left: #ff6550 solid 1px;
  border-right: none;
  border-bottom: none;
}

.nav-button:focus {
  outline: none;
}

nav .menu {
  display: none;
  top: 2.75rem;
  right: 1rem;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.2rem;
}

.links a {
  color: var(--font-color);
  text-decoration: none;
  margin: 0 1rem;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the modal is on top of other elements */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  width: 90%;
  max-width: 500px; /* Modal max width */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out; /* Optional animation for appearance */
}

.modal img {
  margin: 1.2rem;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 10px;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.modal-content p {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.modal-close-button {
  background-color: #ff5a5f; /* Soft red background */
  position: absolute;
  top: 0rem;
  right: 0.6rem;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 20px;
}

.modal-content button:hover {
  background-color: #ff1e3c; /* Darker red on hover */
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Store */

.store-container {
  display: flex;
  flex-wrap: wrap;
}

.store-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.store-wrapper li {
  width: 17.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--font-color);
  font-size: 1.2rem;
  transition: 0.2s;
}

.store-wrapper li:hover {
  width: 18.1rem;
  -webkit-box-shadow: 0px 0px 20px 0px var(--border-color);
  -moz-box-shadow: 0px 0px 20px 0px var(--border-color);
  box-shadow: 0px 0px 20px 0px var(--border-color);
}

.store-wrapper li img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.shop-button {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  bottom: 2rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-image: var(--button-color);
  background-size: 200%;
  color: var(--font-color);
  border: 2px solid var(--seco-color);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.6s;
}

.shop-button:hover {
  width: 2.5rem;
  height: 2.5rem;
  bottom: 1.5rem;
  right: 3.5rem;
  background-position: right;
}

.buy-button {
  width: 7rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--button-color);
  background-size: 200%;
  color: var(--font-color);
  border: 2px solid var(--seco-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}

.buy-button:hover {
  background-position: right;
}

/* About */

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  width: 50%;
  padding: 1rem;
  background-color: var(--main-color);
  border: 2px solid var(--border-color);
}

/*Add*/

.data-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
}

.data-wrapper label {
  margin: 1rem;
  color: var(--font-color);
}

.data-wrapper input {
  width: 10rem;
  padding: 0.5rem;
}

.data-wrapper textarea {
  width: 10rem;
  padding: 0.5rem;
  font-family: Arial, sans-serif;
}

.data-wrapper button {
  padding: 0.5rem;
  margin: 1rem;
  background-color: var(--main-color);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
}

/*Login*/

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--main-color);
  border: 2px solid var(--border-color);
}

.login-container img {
  width: 8rem;
  height: auto;
}

.login-container img:last-of-type {
  transform: scaleX(-1);
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  height: auto;
  width: 25rem;
  justify-content: center;
  align-items: center;
}

.form-control label {
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--font-color);
}

.form-control input {
  width: 10rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  font-family: Caveat, serif;
  border-bottom: 2px solid var(--border-color);
  background-color: transparent;
}

.form-control input:focus {
  outline: none;
  background-color: transparent;
}

.login-container button {
  padding: 0.5rem;
  margin: 1rem;
  width: 5rem;
  height: 2.4rem;
  background-image: var(--button-color);
  font-family: "caveat", serif;
  font-size: 1.5rem;
  background-size: 200%;
  color: var(--font-color);
  border: solid 3px var(---color);
  border-radius: 5px;
  cursor: pointer;
  border-bottom: var(--border-color) solid 1px;
  border-right: var(--border-color) solid 1px;
  transition: 0.6s;
}

.login-container button:hover {
  background-position: right;

  border-top: var(--border-color) solid 1px;
  border-left: var(--border-color) solid 1px;
  border-right: none;
  border-bottom: none;
}

/* Cart */

.cart-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: var(--border-color) solid 2px;
  background-image: var(--button-color);
  padding: 1rem;
  margin-bottom: 1rem;
}

.cart-wrapper img {
  width: 22rem;
  height: 15rem;
}

.cart-wrapper input {
  width: 2rem;
  margin-left: 0.2rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  font-size: 1.5rem;
  font-family: "Caveat", serif;
}

.cart-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items vertically at the start */
  justify-content: flex-start; /* Align items horizontally at the start */
}

.cart-info h3 {
  margin: 0.5rem;
}

.cart-info p {
  margin: 0.5rem;
}

.remove-button {
  width: 7rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--button-color);
  background-size: 200%;
  color: var(--font-color);
  border: 2px solid var(--seco-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}

.remove-button:hover {
  background-position: right;
}

/* Carousel */

.carousel-container {
  max-width: 1200px;
  height: 500px;
  width: 900px;
  margin: 0;
  position: relative;
  overflow: hidden;
  margin: 100px auto 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
}

.slide {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  position: absolute;
  top: 0;
  left: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-anim {
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100; 
  background: none;
  border: none;
  padding: 0;
}

.left-arrow {
  left: 10px; 
}

.right-arrow {
  right: 10px;
}

.arrow svg {
  font-size: 2.5rem; 
  color: white; 
}

.arrow:focus {
  outline: none;
}

.dots{
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  z-index: 100;
}

.dot-active {
  background-color: #ff6550;
}

/* Media Queries */

@media (max-width: 1250px) {
  .store-wrapper {
    padding: 3rem;
  }

  .store-wrapper li {
    margin: 1rem;
    width: 25%;
  }

  .shop-button {
    right: 3rem;
    bottom: 2rem;
  }
}

@media (max-width: 925px) {
  .store-wrapper li {
    width: 40%;
  }

  .login-container {
    width: 80%;
  }

  .login-container img {
    width: 6rem;
    height: auto;
  }

  .shop-button {
    right: 2rem;
    bottom: 1rem;
  }
}

@media (max-width: 850px) {
  .login-container {
    width: 80%;
  }

  .login-container img {
    width: 5rem;
    height: auto;
  }
}

@media (max-width: 795px) {
  .store-wrapper li {
    width: 37%;
  }

  .login-container {
    justify-content: center;
    align-items: center;
  }

  .login-container img {
    display: none;
  }

  .shop-button {
    right: 1rem;
  }
}

@media (max-width: 670px) {
  nav .menu {
    display: flex;
    cursor: pointer;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav .nav-button {
    margin: 0.25rem;
    width: 20rem;
  }

  nav .links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    align-items: start;
  }

  nav .links.open {
    display: flex;
  }

  nav .menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: all 0.3s ease;
  }

  nav .menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 10px);
  }

  nav .menu.open span:nth-child(2) {
    opacity: 0;
  }

  nav .menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

@media (max-width: 645px) {
  .store-wrapper li {
    width: 100%;
  }
}

@media (max-width: 550px) {
  nav .links {
    width: 50%;
  }

  .container {
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .shop-button {
    left: 50%;
    top: 3rem;
    position: absolute;
  }

  .store-wrapper li {
    width: 60%;
    margin: 0.5rem;
  }

  .store-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
  }

  .modal-content {
    width: 90%;
    flex-direction: column;
  }

  .form-control {
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .form-control label {
    margin: 0rem;
  }
}

@media (max-width: 420px) {
  .cart-wrapper img {
    width: 15rem;
    height: 10rem;
  }
}

@media (max-width: 360px) {
  nav .nav-button {
    width: 17rem;
  }

  .modal-content {
    width: 80%;
  }

  .modal-close-button {
    padding: 0.5rem;
    margin-top: 4px;
    top: 0.4rem;
    right: 0.6rem;
  }
}
